<!DOCTYPE html>

<html class="lt-ie9 lt-ie8" lang="ru"><![endif]-->
<!--[if IE 8]>
<html class="lt-ie9" lang="ru"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru"><!--<![endif]-->
<head>
    <title>World of hobbies | {% block title %}{% endblock %}</title>
    <meta charset="utf-8"/>
    <!--[if lt IE 9]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/style.css"/>
    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
    <script src="/static/js/ui/jquery.ui.core.min.js"></script>
    <script src="/static/js/ui/jquery.ui.slider.min.js"></script>
    <script src="/static/js/touch.js"></script>
</head>
<body>
<div class="bg"></div>

<div class="wrapper">
    <header class="header">
        <h1 class="header__heading">Мир увлечений World of Hobbies
        </h1>

        <div class="header__info">
            <div class="header__enter">
                <img class="header__login-icon" src="/static/img/login-icon.png"/>
                    {% if user.is_authenticated %}
                        <a href="/lk/">Личный кабинет</a> |
                        <a href="/accounts/logout/">Выход</a>
                    {% else %}
                        <a href="/accounts/login/">Вход</a> |
                        <a href="/accounts/register/">Регистрация</a>
                    {% endif %}
            </div>
            <div class="header__phone"><span class="header__phone__code">+7 (917)</span> 587-21-21</div>
            
        </div>
        <nav class="header__nav">
            <a href="/" class="header__nav__i {% if 'home' in request_url %}active{% endif %}">Главная </a>
            <a href="/catalog/" class="header__nav__i {% if 'catalog' in request_url %}active{% endif %}">Каталог </a>
            <a href="/uslugi/" class="header__nav__i {% if 'uslugi' in request_url %}active{% endif %}"> Услуги </a>
            <a href="/partneryi/" class="header__nav__i {% if 'partneryi' in request_url %}active{% endif %}">Партнеры </a>
            <a href="/oplata-i-dostavka/" class="header__nav__i {% if 'oplata' in request_url %}active{% endif %}">Оплата и доставка </a>
            <a href="/kontaktyi/" class="header__nav__i {% if 'kontaktyi' in request_url %}active{% endif %}">Контакты </a>
        </nav>
        
    </header>
    
    <div class="content">
        {% block content %}
        {% endblock %}
        <div style='height: 100px'></div>
    </div>

    <footer class="footer">
        <a href="/" class="footer__homelink"> <img class="footer_logo" src="/static/img/logo-footer.png" alt=""/></a>
                
        <div class="footer_block">
            <div class="footer_block__address">
                <p>Москва, </p>

                <p> ул. Название, д. 55 </p>

                <p> Тел.: +7(917)587-21-21</p>
                <a href="mailto:info@sitename.ru">info@sitename.ru</a>
            </div>
        </div>

        <div class="footer_block">
            <div class="footer_block__map">
                <a href="">Как нас найти</a>

                <p>(Схема проезда)</p>
            </div>
        </div>

        <div class="footer_block">
            
        </div>
        <div class="footer_block footer_block__info">
            
            
            <div class="footer_block__soc">
                <a href="#" class="vk"></a>
                <a href="#" class="odn"></a>
                <a href="#" class="fb"></a>
                <a href="#" class="tw"></a>
            </div>
    </footer>
</div>
</body>
</html>
