{% extends "registration/base.html" %}

{% block content %}
        <h4><span>Вход</span></h4>
        <form method='post'>
            <table class="request">
                {{ form.as_table }}
                <tr><td></td><td><input type="submit" class="search__btn" value="Войти" /></td></tr>
                <input type="hidden" name="action" value="login" />
            </table>
            {% csrf_token %}
        </form>
        
        <a href='/accounts/password/reset/'>Забыли пароль?</a><br /><br /><br />
{% endblock %}