{% extends "base.html" %}
{% load i18n %}

{% block title %}Выход{% endblock %}

{% block all_wrapper %}
     <div class="highlighted checkout">
        <!-- .holder -->
        <div class="holder">
          <!-- .breadcrumbs -->
          <ul class="breadcrumbs">
            <li><a href="/">Главная</a></li>
            <li>Выход</li>
          </ul>
          <!--// .breadcrumbs -->
          <h2 class="headline">Ждём Вас снова.</h2>
            <div class="checkout-required-note" style='height: 300px'></div>
        </div>
        <!--// .holder -->
      </div>
      <!--// .checkout -->
      
      

{% endblock %}
