{% extends "base.html" %}
{% load i18n %}

{% block title %}Восстановление пароля{% endblock %}

{% block all_wrapper %}

    <div class="highlighted checkout">
        <!-- .holder -->
        <div class="holder">
          <!-- .breadcrumbs -->
          <ul class="breadcrumbs">
            <li><a href="/">Главная</a></li>
            <li>Восстановление пароля</li>
          </ul>
          <!--// .breadcrumbs -->
          <h2 class="headline">Восстановить пароль</h2>
          <!-- .checkout-in -->
          <div class="checkout-in">
            <!--// .col -->
            <!-- .col -->
            <form method='POST' class="col left">
              <div class="form-row">
                <label>Адрес электронной почты:</label><br />
                {% if form.email.errors %}
                    <div class="form-error">{{ form.email.errors.0 }}</div>
                {% endif %}
                {{ form.email }}
              </div>
              <button type='submin' class="btn btn-orange">Отправить запрос</button>
              {% csrf_token %}
            </form>
            
            <!--// .col -->
          </div>
          <!--// .checkout-in -->
        </div>
        <!--// .holder -->
      </div>
      <!--// .checkout -->
      
      <div class="checkout-required-note" style='height: 100px'>* Поле, обязательное для заполнения</div>
{% endblock %}

