{% extends "base.html" %}
{% load i18n %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}

    <div class="highlighted checkout">
        <!-- .holder -->
        <div class="holder">
          <!-- .breadcrumbs -->
         
          <!--// .breadcrumbs -->
          <h2 class="headline">Восстановить пароль</h2>
          <!-- .checkout-in -->
          <div class="checkout-in">
            <!--// .col -->
            <!-- .col -->
            <form method='post'>
                <table class="request">
                    {{ form.as_table }}
                    <tr><td></td><td><input type="submit" value="Сохранить" /></td></tr>
                    <input type="hidden" name="action" value="login" />
                </table>
                {% csrf_token %}
            </form>
                
            <!--// .col -->
          </div>
          <!--// .checkout-in -->
        </div>
        <!--// .holder -->
      </div>
      <!--// .checkout -->
      
      <div class="checkout-required-note" style='height: 100px'>* Поле, обязательное для заполнения</div>
{% endblock %}

