{% extends "base.html" %}
{% load i18n %}

{% block title %}Восстановление пароля{% endblock %}

{% block all_wrapper %}

    <div class="highlighted checkout">
        <!-- .holder -->
        <div class="holder">
          <!-- .breadcrumbs -->
          <ul class="breadcrumbs">
            <li><a href="/">Главная</a></li>
            <li>Восстановление пароля</li>
          </ul>
          {% if validlink %}
            
            <h2 class="headline">Восстановить пароль</h2>
            <!-- .checkout-in -->
            <div class="checkout-in">
                <!--// .col -->
                <!-- .col -->
                <form method='POST' class="col left">
                <div class="form-row">
                    <label>Новый пароль:</label><br />
                    {% if form.new_password1.errors %}
                        <div class="form-error">{{ form.new_password1.errors.0 }}</div>
                    {% endif %}
                    {{ form.new_password1 }}
                </div>
                <div class="form-row">
                    <label>Повторите новый пароль:</label><br />
                    {% if form.new_password2.errors %}
                        <div class="form-error">{{ form.new_password2.errors.0 }}</div>
                    {% endif %}
                    {{ form.new_password2 }}
                </div>
                <button type='submin' class="btn btn-orange">Сохранить</button>
                {% csrf_token %}
                </form>
            {% else %}
                <h2 class="headline">Пароль не был изменен. Неверный код.</h2>
            {% endif %}
                <!--// .col -->
            </div>
            <!--// .checkout-in -->
        </div>
        <!--// .holder -->
      </div>
      <!--// .checkout -->
{% endblock %}