{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <h4><span>Восстановление пароля</span></h4>
    
    {% if validlink %}
        <form method='post'>
            <table class="request">
                {{ form.as_table }}
                <tr><td></td><td><input type="submit" class="search__btn" value="Восстановить" /></td></tr>
                <input type="hidden" name="action" value="login" />
            </table>
            {% csrf_token %}
        </form>
    {% else %}
        <h2 class="headline">Пароль не был изменен. Неверный код.</h2>
    {% endif %}
        
{% endblock %}