{% extends "base.html" %}
{% load i18n %}

{% block all_wrapper %}
    <div class="maskwrap">

        <div class="breadcrumbs fixedbc">
            <a href="/" class="empty">Главная</a> 
            <a href="/lk/">Личный кабинет</a> 
            <a href="" class="no">Смена пароля</a>
        </div>


        <div class="colmask doublepage1">
            <div class="colleft">
                <div class="col1">
                    <h2>500</h2>
                    <p>Внутренняя ошибка сервера.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

    
    