{% extends 'base.html' %}

{% load thumbnail %}

{% block title %}{{ item.name }}{% endblock %}

{% block extended_head %}
    <link rel="stylesheet" type="text/css" href="/static/css/radio-image-select.css" media="screen" />
    <script src="/static/js/jquery.radioImageSelect.js"></script>
    
    <link rel="stylesheet" href="/static/css/prettyPhoto.css" type="text/css" media="screen" title="Фотогалерея" charset="utf-8" />
    <script src="/static/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
    
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
                $("a[rel^='prettyPhoto']").prettyPhoto({
                        animationSpeed: 'normal', /* fast/slow/normal */
                        opacity: 0.80, /* Value between 0 and 1 */
                        theme: 'pp_default',
                        showTitle: true /* true/false */
                    });
            });
    </script>
    
    <script type="text/javascript">
        jQuery(document).ready( function($) {
                $('input.radioImageSelect').radioImageSelect();
            });
    </script>
{% endblock %}
            
{% block breadcrumb %}
    {% for p in category.breadcrumb %}
        <a href="/category/{{ p.slug }}">{{ p.name }}</a>
    {% endfor %}
    <a href="/category/{{ category.slug }}/">{{ category.name }}</a>
    <a href="" class="no">{{ item.name }}</a>
{% endblock %}

{% block content %}
    <div class="tovardsc">
        <div class="colmask1 leftmenu1_1">
            <div class="colleft1_1">
                <div class="col1_1_1">
                    <!-- Column 1 start -->
                    
                    <div class="tpad">
                        <div class="state">
                            <h3>{{ item.name }}</h3>
                            <p>Марка: <b>{{ item.brand.name }}</b></p>
                            
                            {% if in_cart %}
                                <p><a href='/cart/'>Товар в корзине</a></p>
                            {% endif %}
         
                        </div>   <!--state-->
                        
                        <div class="costs">
                            {% if item.price_old %}
                                <div class="discount">{{ item.price_old|floatformat:"0" }} р.</div>     
                            {% endif %}
                            {% if user_opt %}
                                <span>{{ item.price_opt|floatformat:"0" }} р.</span>
                            {% else %}
                                <span>{{ item.price|floatformat:"0" }} р.</span>
                            {% endif %}
                        </div>
                        
                        
                    </div> <!--tpad-->
                    
                    
                    
                    {{ item.description|safe }}
                    
                    <form method='POST'>  <!---->
                        {% if item.sizes.all %}
                            <div class="sizes">
                                <span>Выберите размер:</span>   
                                <div class="clear"></div>
                                
                                {% for s in item.sizes.all %}
                                    <input type="radio" id="radio_{{ s.name }}" name="size" value="{{ s.name }}" {% if forloop.counter == 1 %}checked{% endif %}>
                                    <label for="radio_{{ s.name }}">{{ s.name }}</label>
                                {% endfor %}
                            </div> <!--sizes-->
                        {% endif %}
                        
                        <div class='to_order_div'>
                            <button type="submit" class="zakaz_">заказать</button>
                            <input type="hidden" name='action' value="add_in_basket" />
                            <input type="hidden" name='item_id' value="{{ item.id }}" />
                            {% csrf_token %}
                            <div class="instock">Товар в наличии</div>
                        </div>
                    </form>
                    
                    
                    <div class="clear"></div>
                    
                    
                    <!-- Column 1 end -->
                </div>


                <div class="col2_2_2">
                    <!-- Column 2 start -->
                    {% thumbnail item.image.all.0.image "x264" as im %}
                        <img src="{{ im.url }}" alt="" />
                    {% endthumbnail %}
                    
                    {% for img in item.image.all %}
                        {% thumbnail img.image "x100" as im %}
                            <a href="/media/{{ img.image }}" rel="prettyPhoto[gallery2]">
                                <img src="{{ im.url }}"/>
                            </a>
                        {% endthumbnail %}
                    {% endfor %}

                    <!-- Column 2 end -->
                </div>
            </div>
        </div>




    </div> <!--tovardsc-->

    <div class="clear"></div>

    <h3>Похожие товары в каталоге:</h3>

    <div class="catalog">
        {% for s in same %}
            <div class="block">
                {% thumbnail s.image.all.0.image "x300" as im %}
                    <a href="/item/{{ s.slug }}/"><img src="{{ im.url }}" alt="" /></a>
                {% endthumbnail %}
                
                <div class="dsc">
                    <a href="/item/{{ s.slug }}/">{{ s.name }}</a>   
                </div> <!--dsc-->   
                {% if user_opt %}
                    <span>{{ s.price_opt|floatformat:"0" }} р.</span>
                {% else %}
                    <span>{{ s.price|floatformat:"0" }} р.</span>
                {% endif %}
                <div class="clear"></div>
            </div> <!--block-->
        {% endfor %}
    </div> <!--catalog-->
{% endblock %}
