<div class="sorting">
    <form method='GET'>
        <div class="sortlist">
            <span>Сортировать по:</span> 
            <button name='sort' value='date' class="{% if sort == 'date' %}dark{% else %}light{% endif %}">новинкам</button> 
            <button name='sort' value='name' class="{% if sort == 'name' %}dark{% else %}light{% endif %}">названию</button>
            <button name='sort' value='price' class="{% if sort == 'price' %}dark{% else %}light{% endif %}">цене</button>
        </div> <!--sortlist-->
    </form>
    <form method='GET'>
        <div class="sortnum">
            <span>Показывать по:</span> 
            <select name="count" class="styleds sortnum_select">
                <option value="10" {% if count == '10' %}selected{% endif %}>10</option>
                <option value="30" {% if count == '30' %}selected{% endif %}>30</option>
                <option value="50" {% if count == '50' %}selected{% endif %}>50</option>
            </select>
        </div> <!--sortnum-->
    </form>
    <form method='GET'>
        <div class="sortpage">
            {% if need_pagination %}
                <div class="inpgw">
                    {% if items.has_previous %}
                        <a href="{{ get_request }}?page={{ items.previous_page_number }}" class='transparent'><img src="/static/images/pl.png" /></a>
                    {% endif %}
                    {% for p in page_range %}
                        <a href="{{ get_request }}?page={{ p }}" class='transparent{% if p == items.number %} active{% endif %}'>{{ p }}</a>
                    {% endfor %}
                    {% if items.has_next %}
                        <a href="{{ get_request }}?page={{ items.next_page_number }}" class='transparent'><img src="/static/images/pr.png" /></a>
                    {% endif %}
                </div> <!--pgw-->
            {% endif %}
        </div> <!--sortpage-->
    </form>
</div> <!--sorting-->

<script>
    $('.sortnum_select').change(function(){
        $(this).parent().parent().submit();
    });
</script>