        <div class="header__tags">
            <ul>
                {% for node in categories %}
                    {% if node.children.all|length > 2 %}
                        </ul><ul>
                    {% endif %}
                    <li><a href="/category/{{ node.slug }}/" style='font-size: large'><b>{{ node.name }}</b></a></li>
                    {% for i in node.children.all %}
                        <li><a href="/category/{{ i.slug }}/">{{ i.name }}</a></li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
