    <div class="search-wrp">
        <div class="search-switch"></div>


        <div class="search__block _1">
            <div class="search__title"> Быстрый поиск по цене:</div>

            <p>

                <input type="text" id="amount"/>
            </p>

            <div id="slider-range"></div>
        </div>
        <div class="search__block-items">
            <div class="search__block">
                <div class="search__title"> Поиск по производителю:</div>
                <input type="text"/>
            </div>
            <div class="search__block">
                <div class="search__title"> Поиск по назначению:</div>
                <div class="search__block__select">
                    <select name="" id="select2">
                        <option value="">Все позиции</option>
                        <option value="">Позиция1</option>
                        <option value="">Позиция2</option>
                        <option value="">Позиция3</option>
                        <option value="">Позиция4</option>
                    </select>
                </div>
            </div>
            <div class="search__block-items__hidden">
                <div class="search__block">
                    <div class="search__title"> Поиск по производителю:</div>
                    <div class="search__block__select">
                        <select name="" id="select3">
                            <option value="">Все производители</option>
                            <option value="">Производитель1</option>
                            <option value="">Производитель2</option>
                            <option value="">Производитель3</option>
                            <option value="">Производитель4</option>
                        </select>
                    </div>
                </div>
                <div class="search__block">
                    <div class="search__title"> Поиск по назначению:</div>
                    <div class="search__block__select">
                        <select name="" id="select4">
                            <option value="">Все позиции</option>
                            <option value="">Позиция1</option>
                            <option value="">Позиция2</option>
                            <option value="">Позиция3</option>
                            <option value="">Позиция4</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <a class="search__btn" href="#"> Найти </a>
    </div>