{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="content__left">
        <h2>Интернет-магазин <span>Мир  Увлечений</span></h2>

        {{ content|safe }}
    </div>

    <div class="content__slider-wrp">
        <div class="content__slider">
            {% for s in slideshow %}
                
                <div class="content__slider__i {% if forloop.first %} active{% endif %}">
                    <h3>{{ s.name }}</h3>
                    {% if s.href %}<a href='{{ s.href }}'>{% endif %}
                    <img src="/media/{{ s.image }}" alt=""/>
                    {% if s.href %}</a>{% endif %}
                </div>
                

            {% endfor %}
        </div>
        <div class="content__slider__next"></div>
        <div class="content__slider__prev"></div>
    </div>


    <div class="catalog">
        {% for i in items_at_home %}
            {% include 'item_short.html' with i=i %}
        {% endfor %}
    </div>
    {% include 'recent_news_line.html' %}
{% endblock %}