{% load thumbnail %}<li>
                <div class="title"><a href="/item/{{ i.slug }}/">{{ i.name }}</a></div>
                <div class="img">
                    <a href="/item/{{ i.slug }}/">
                        {% thumbnail i.image "150" as im %}
                            <img src="{{ im.url }}" alt="{{ i.name }}">
                        {% endthumbnail %}
                    </a>
                </div>
                <div class="price"><span>{{ i.price|floatformat:"0" }}</span> руб.</div>
                <div class="old-price">&nbsp;<span>
                {% if i.price_old %}
                    {{ i.price_old|floatformat:"0" }} руб.
                {% endif %}</span></div>
                <div class="btn btn-blue btn-border"><a href="/item/{{ i.slug }}/">Купить</a></div>
            </li>