{% extends 'base.html' %}

{% load thumbnail %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
      <div class="highlighted goods">
        <!-- .holder -->
        <div class="holder">
          <!-- .breadcrumbs -->
          <ul class="breadcrumbs">
            <li><a href="/">Главная</a></li>
            {% for p in category.breadcrumb %}
                <li><a href="/category/{{ p.slug }}">{{ p.name }}</a></li>
            {% endfor %}
            <li><a href="/category/{{ category.slug }}/">{{ category.name }}</a></li>
            <li>{{ item.name }}</li>
          </ul>
          <!--// .breadcrumbs -->
          <h1 class="headline">{{ item.name }}</h1>
          <!-- .goods-block -->
          <div class="goods-block dbl-border">
            <!-- .goods-info -->
            <div class="goods-info">
              <!-- .details -->
              <div class="details dbl-border">
                <form method='POST'>
                    {% if in_cart %}
                        <p><a href='/cart/'>Товар в корзине</a></p>
                    {% endif %}
                    <div class="btn btn-blue btn-bb to-cart">
                        <a><button type="submit" class='reset-btn'>В корзину</button></a>
                    </div>
                    <div class="price">{{ item.price|floatformat:"0" }} руб.</div>
                    <div class="old-price">
                        {% if item.price_old %}
                            {{ item.price_old|floatformat:"0" }} руб.
                        {% endif %}
                    </div>
                    <div class="count">
                        <input type="text" name='count' value="1" id="goods-count">
                        <label for="goods-count">шт.</label>
                    </div>                        
                        
                    <input type="hidden" name='action' value="add_in_basket" />
                    <input type="hidden" name='item_id' value="{{ item.id }}" />
                    {% csrf_token %}
                
                </form>
              </div>
              <!--// .details -->
              <!-- .characteristics -->
              {{ item.description|safe }}
              <!--// .characteristics -->
            </div>
            <!--// .goods-info -->
            <div class="goods-img">
              <a href="/item/{{ i.item.slug }}/">
                {% thumbnail item.image "250" as im %}
                    <img src="{{ im.url }}" alt="{{ item.name }}">
                {% endthumbnail %}
              </a>
            </div>
          </div>
          <!--// .goods-block -->
          <!-- .goods-block -->
          <div class="goods-block dbl-border">
            <!-- .goods-description -->
            <div class="goods-description">
              {{ item.description_bottom|safe }}
            </div>
            <!--// .goods-description -->
          </div>
          <!--// .goods-block -->
        </div>
        <!--// .holder -->
      </div>
      <!--// .goods -->
      <!-- .related -->
      <div class="related highlighted catalog-block">
        <h2 class="headline">Товары из этой же категории:</h2>
        <!-- .catalog-list -->
        <ul class="catalog-list">
            {% for i in same %}{% include 'item_short.html' with i=i %}{% endfor %}
        </ul>
        <!--// .catalog-list -->
      </div>
      <!--// .related -->
{% endblock %}