<div class="side-news">
    <div class="side-caption">Наши новости</div>
    <!-- .side-news-list -->
    <ul class="side-news-list">
    
         {% for n in news_left %}
            
            <li>
                {% if n.image %}
                    <div class="img">
                        <a href="/news/{{ n.slug }}/"><img src="/media/{{ n.image }}" alt="{{ n.name }}" width="229"></a>
                    </div>
                {% endif %}
                <div class="title"><a href="/news/{{ n.slug }}/">{{ n.name }}</a></div>
                <div class="txt">{{ n.text|removetags:"div p"|truncatechars:130 }}</div>
                <div class="date">{{ n.date }}</div>
            </li>
            
        
        {% endfor %}
    
        
       
    </ul>
    <!--// .side-news-list -->
    <div class="view-all">
        <a href="/news/">Все новости</a>
    </div>
</div>
