<nav class="side-nav">

    {% load mptt_tags %}
    <ul>    
        <li><a href="/vasha-novostrojka/">Ваша новостройка</a></li>
        {% for node in categories %}
            <li {% if not node.is_leaf_node %}{% if node in category.breadcrumb or node == category %} class="active" {% endif %}{% endif %}>
                {% if node.is_leaf_node %}
                    <a href="/category/{{ node.slug }}/">
                        {{ node.name }}
                    </a>
                {% else %}
                    <span>{{ node.name }}</span>
                        <ul>
                        {% for i in node.children.all %}
                            <li>
                                <a href="/category/{{ i.slug }}/">{{ i.name }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

</nav>